<!-- Modal-Dialog -->
<div id="navbar_missingPluginsDialog" class="modal hide fade">
    <div class="modal-header">
        <h3 class="modal-title">Missing plugins</h3>
    </div>
    <div class="modal-body">
        To get the real power of the <b>PrintJobHistory-Plugin</b> you need the following plugins installed/enabled:

        <div><br></div>
        <div id="missingPluginMessage">&nbsp;</div>

    </div>
    <div class="modal-footer">
        TODO checkbox "don't show again"
        <button class="btn btn-confirm">Close</button>
    </div>
</div>
