{% include "PrintJobHistory_tab_dialogs.jinja2" %}
<div id="tab_printJobHistory">
    <!-- no sorting / filering, because this must be done in backend
    <div class="pull-right">
        <small>
            Sort by:
            <a href="#" data-bind="click: changeSortOrder.bind($data, 'param1')">Name<span data-bind="text: sortOrderLabel('fileName')"></span></a> |
            <a href="#" data-bind="click: changeSortOrder.bind($data, 'param2')">Date<span data-bind="text: sortOrderLabel('timestamp')"></span></a> |
            <a href="#" data-bind="click: changeSortOrder.bind($data, 'param3')">Print time<span data-bind="text: sortOrderLabel('printTime')"></span></a>
        </small>
    </div>

    <div class="pull-right" style="clear: both;">
    <small>
        Show prints:
        <a href="#" data-bind="click: function() { printJobHistorylistHelper.toggleFilter('all'); }"><i class="icon-ok" data-bind="style: {visibility: _.contains(printJobHistorylistHelper.currentFilters(), 'all') ? 'visible' : 'hidden'}"></i> all</a>
        <a href="#" data-bind="click: function() { printJobHistorylistHelper.toggleFilter('successful'); }"><i class="icon-ok" data-bind="style: {visibility: _.contains(printJobHistorylistHelper.currentFilters(), 'successful') ? 'visible' : 'hidden'}"></i> only successful</a>
        <a href="#" data-bind="click: function() { printJobHistorylistHelper.toggleFilter('failed'); }"><i class="icon-ok" data-bind="style: {visibility: _.contains(printJobHistorylistHelper.currentFilters(), 'failed') ? 'visible' : 'hidden'}"></i> only failed</a>
    </small>
    </div>
    -->
    <a href="#" data-bind="click: reloadTableData()" title="Force refresh" >Refresh <span class="icon-refresh"></span></a>
     <div class="pull-right">
        <small>
            <a href="#" data-bind="attr: {href: $root.exportUrl('csv'), css: {disabled: !$root.exportUrl('CSV')}}">CSV</a>
        </small>
    </div>


    <table id="printjobhistory_main_table" class="table table-striped table-hover table-condensed table-hover" style="clear: both;">
        <thead>
            <tr>
                <th style="width: 4%; text-align: center;"></th>
                <th style="width: 15%">Date</th>
                <th style="width: 27%">File</th>
                <th style="width: 13%;">Usage</th>
                <th style="width: 16%;t">Note</th>
                <th style="width: 16%;t">Image</th>
                <th style="width: 9%"></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: printJobHistorylistHelper.paginatedItems">
            <tr>
                <!--<td style="text-align: center;"><span data-bind="css: {'icon-ok-sign' : success() == 1, 'icon-exclamation-sign' : success() == 0}, style: { color: success() == 1 ? 'green' : 'red' }"></span></td>-->
                <td style="text-align: center;"><span data-bind="css: {'icon-ok-sign' : printStatusResult() == 'green', 'icon-exclamation-sign' : printStatusResult() != 'green'}, style: { color: printStatusResult() == 'green' ? 'green' : 'red' }"></span></td>
                <td>
                    <span><span data-bind="text: printStartDateTimeFormatted, attr: { title: printStartDateTimeFormatted }"></span></span>
                    <div class="additionalInfo">
                        <div><span data-bind="text: printEndDateTimeFormatted, attr: { title: printEndDateTimeFormatted }"></span></div>
                        <div><span data-bind="text: durationFormatted, attr: { title: durationFormatted }"></span></div>
                    </div>
                </td>
                <td>
                    <span><span data-bind="text: fileName, attr: { title: fileName }"></span></span>
                    <div class="additionalInfo">
                        <div><span data-bind="text: fileSize , attr: { title: fileSize }"></span></div>
                        <div><span data-bind="text: temperatureBed, attr: { title: temperatureBed }"></span></div>
                        <div><span data-bind="text: temperatureNozzel, attr: { title: temperatureNozzel }"></span></div>
                        <div><span data-bind="text: printedHeight, attr: { title: printedHeight }"></span></div>
                        <div><span data-bind="text: printedLayers, attr: { title: printedLayers }"></span></div>
                    </div>
                </td>
                <td>
                    <span ><span data-bind="text: material, attr: { title: material }"></span></span>
                    <span ><span data-bind="text: spoolName, attr: { title: spoolName }"></span></span>
                    <div class="additionalInfo">
                        <div ><span data-bind="text: usedLength, attr: { title: usedLength }"></span> / <span data-bind="text: calculatedLength, attr: { title: calculatedLength }"></span></div>
                        <!-- TODO weight and cost infos
                        <div data-bind="visible: note"><span data-bind="text: filamentWeight, attr: { title: filamentWeight }"></span></div>
                        <div data-bind="visible: note"><span data-bind="text: filamentCost, attr: { title: filamentCost }"></span></div>
                        -->
                    </div>
                </td>
                <td>
<!--                    <span ><span>Figure</span></span>-->
                    <div class="additionalInfo">
                        <div ><span class="quill-viewer" data-bind="html: noteHtml, attr: { title: noteText }"></span></div>
                    </div>
                </td>
                <td>
<!--                    <img src="http://localhost:5000/plugin/PrintJobHistory/static/images/no-image-icon.png" >-->
<!--                    <img src="http://localhost:5000/plugin/PrintJobHistory/printJobSnapshot/2019-10-11-15-33" >-->
                    <img data-bind="attr: {src: $root.snapshotUrl( $data)}" >
                </td>
                <td>
                    <div class="btn-group action-buttons" data-bind="visible: $root.loginState.isUser() && !$root.isPrinting()">
                        <div class="btn btn-mini" data-bind="click: function() { $root.showPrintJobDetailsDialogAction($data); }" title="{{ _('Additional data') }}"><i class="icon-wrench"></i></div>
                        <div class="btn btn-mini" data-bind="click: function() { $root.removePrintJobAction($data.databaseId); }" title="{{ _('Remove') }}"><i class="icon-trash"></i></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination pagination-mini pagination-centered">
        <ul>
            <li data-bind="css: {disabled: printJobHistorylistHelper.currentPage() === 0}">
                <a href="#" data-bind="click: printJobHistorylistHelper.prevPage">«</a>
            </li>
        </ul>
        <ul data-bind="foreach: printJobHistorylistHelper.pages">
            <li data-bind="css: { active: $data.number === $root.printJobHistorylistHelper.currentPage(), disabled: $data.number === -1 }">
                <a href="#" data-bind="text: $data.text, click: $root.printJobHistorylistHelper.changePage.bind($data, $data.number)"></a>
            </li>
        </ul>
        <ul>
            <li data-bind="css: {disabled: printJobHistorylistHelper.currentPage() === printJobHistorylistHelper.lastPage()}">
                <a href="#" data-bind="click: printJobHistorylistHelper.nextPage">»</a>
            </li>
        </ul>
    </div>

</div>
