<!-- Modal-Dialogs -->
<span id="modal-dialogs-printJobHistory" style="display:none" >

    <!-- PluginDependencyCheck-Dialog -->
    <div id="dialog_printJobHistory_missingPlugins" class="modal hide fade">
        <div class="modal-header">
            <h3 class="modal-title">Optional plugins</h3>
        </div>
        <div class="modal-body">
            To get the real power of the <b>Print Job History - Plugin</b> you need the following plugins installed/enabled:

            <div><br></div>
            <div id="missingPluginMessage">&nbsp;</div>

        </div>
        <div class="modal-footer">

        <div class="control-group">
            <div class="controls">
                <span class="" style="text-align:left">
                    <input data-bind="checked: pluginCheckDialog.deactivatePluginCheck" type="checkbox" style="margin-bottom: 10px;"> disable optional plugin check
                </span>
                <button class="btn btn-confirm" style="text-align:right">Close</button></div>
            </div>
        </div>
    </div>

    <!-- CSV Import Status-Dialog -->
    <div id="dialog_printJobHistory_csvImportStatus" class="modal hide fade">
        <div class="modal-header">
            <h3 class="modal-title">CSV Import-Status <i class="fa fa-spinner fa-spin" data-bind="visible: csvImportDialog.importInProgress"></i></h3>
        </div>
        <div class="modal-body">
            <div>Status: <b data-bind="text: csvImportDialog.importStatus"></b></div>
            <div data-bind="visible:csvImportDialog.currentLineNumber">Parsing/Importing line: <b data-bind="text: csvImportDialog.currentLineNumber"></b></div>
            <br/>
            <div data-bind="visible:csvImportDialog.successMessages"><b data-bind="html: csvImportDialog.successMessages"></b></div>
            <br/>
            <div data-bind="visible:csvImportDialog.errorMessages"><b style="color:red" data-bind="html: csvImportDialog.errorMessages"></b></div>
            <br/>
            <div data-bind="visible:csvImportDialog.backupFilePath">Backup Database: <b data-bind="html: csvImportDialog.backupFilePath"></b></div>
            <br/>
            <div data-bind="visible:csvImportDialog.backupSnapshotFilePath">Backup Snapshots: <b data-bind="html: csvImportDialog.backupSnapshotFilePath"></b></div>
        </div>
        <div class="modal-footer">
            <div class="control-group">
                <div class="controls">
                    <button class="btn "  data-bind="disable: csvImportDialog.importInProgress, click: csvImportDialog.closeDialog" style="text-align:right">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- PrintJobItem-Dialog -->
    <div id="dialog_printJobHistory_editPrintJobItem" class="modal hide fade large" >
        <div class="modal-header">
            <div class="row">
                <div class="span9">
                    <h4 class="modal-title"><span data-bind="text: printJobForEditing().fileName"></span>&nbsp;&nbsp;(<span data-bind="text:printJobForEditing().fileSize" ></span>)</h4>
                </div>
                <div class="span3">
                    <!-- Customize Field visiblity -->
<!--                    <div id="configFields" class="btn-group" >-->
<!--                      <a id="openConfigFields" class="btn dropdown-toggle" onclick="machwas()" href="#">-->
<!--                        Configure Fields (TODO)-->
<!--                        <span class="caret"></span>-->
<!--                      </a>-->
<!--                      <ul id="configFieldsDropDown" class="dropdown-menu pull-right">-->
<!--                        <li>-->
<!--                              <div class="container" style="max-width: 480px;">-->
<!--                                <h3>TODO: needs to be implemented</h3>-->
<!--                                <div class="row">-->
<!--                                    <div class="span1">&nbsp;</div>-->
<!--                                    <div class="span2">-->
<!--                                        <label class="checkbox"><input type="checkbox"> Displayname</label>-->
<!--                                    </div>`-->
<!--                                    <div class="span2">-->
<!--                                        <label class="checkbox"><input type="checkbox"> Material</label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="row">-->
<!--                                    <div class="span1">&nbsp;</div>-->
<!--                                    <div class="span2">-->
<!--                                        <label class="checkbox"><input type="checkbox"> Displayname</label>-->
<!--                                    </div>-->
<!--                                    <div class="span2">-->
<!--                                        <label class="checkbox"><input type="checkbox"> Material</label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="row">-->
<!--                                    <div class="span1">&nbsp;</div>-->
<!--                                    <div class="span2">-->
<!--                                        <label class="checkbox"><input type="checkbox"> Displayname</label>-->
<!--                                    </div>-->
<!--                                    <div class="span2">-->
<!--                                        <label class="checkbox"><input type="checkbox"> Material</label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                      </ul>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="row">
                <div class="span1" >
                    <div class="span1"><span class="icon-4x" data-bind="css: {'icon-ok-sign' : printJobForEditing().printStatusResult() == 'success', 'icon-exclamation-sign' : printJobForEditing().printStatusResult() != 'success'}, style: { color: printJobForEditing().printStatusResult() == 'success' ? 'green' : 'red' }"></span></div>
                </div>
                <div class="span6" >
                    <div class="row">
                        <div class="span12">
                            <div class="row">
                                <div class="span4"><b>Start</b> <span data-bind="text: printJobForEditing().printStartDateTimeFormatted" /></div>
                                <div class="span3"><b>Height</b> <span data-bind="text: printJobForEditing().printedHeight" ></span>mm</div>
                                <div class="span2"><b>Nozzle</b> <span data-bind="text: printJobForEditing().temperatureNozzle" ></span>°C</div>
                                <div class="span3"></div>
                            </div>
                            <div class="row">
                                <div class="span4"><b>End</b> <span data-bind="text: printJobForEditing().printEndDateTimeFormatted" /></div>
                                <div class="span3"><b>Layer</b> <span data-bind="text: printJobForEditing().printedLayers" ></span></div>
                                <div class="span2"><b>Bed</b> <span data-bind="text: printJobForEditing().temperatureBed" ></span>°C</div>
                                <div class="span3"></div>
                            </div>
                            <div class="row">
                                <div class="span4"><b>Duration</b> <span data-bind="text: printJobForEditing().durationFormatted" /></div>
                                <div class="span3"></div>
                                <div class="span2"></div>
                                <div class="span3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body" >
            <form id="form_printJobHistory_editPrintJobItem" class="form-horizontal" >
                <div class="row">
                    <div class="row">
                        <div class="span6" style="">
                                <div class="control-group">
                                    <label class="control-label">Spool *</label>
                                    <div class="controls">
                                        <input type="text" class="input-large" data-bind="value: printJobForEditing().spoolName" />
                                    </div>
                                </div>
                                <div class="control-group no-bottom-gap">
                                    <label class="control-label">Spool Vendor*</label>
                                    <div class="controls">
                                        <input type="text" class="input-large" data-bind="value: printJobForEditing().spoolVendor" />
                                    </div>
                                </div>
                                <div class="control-group no-bottom-gap">
                                    <label class="control-label">Material *</label>
                                    <div class="controls">
                                        <input type="text" class="input-large" data-bind="value: printJobForEditing().material" />
                                    </div>
                                </div>
                                <div class="" style="margin-left:80px">
                                    <small><font color="Gray"> * spool values will not be reflected to FilamentManager-Plugin</font></small>
                                </div>
                                <div class="control-group no-bottom-gap">
                                    <label class="control-label">Used length</label>
                                    <div class="controls">
                                        <div class="input-append">
                                            <input type="number" step="0.01" min="0" class="input-small text-right" data-bind="value: printJobForEditing().usedLengthFormatted"/>
                                            <span class="add-on">m</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group ">
                                    <label class="control-label">Calculated length</label>
                                    <div class="controls">
                                        <div class="input-append">
                                            <input type="number" step="0.01" min="0" class="input-small text-right" data-bind="value: printJobForEditing().calculatedLengthFormatted"/>
                                            <span class="add-on">m</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Used Weight</label>
                                    <div class="controls">
                                        <div class="input-append">
                                            <input type="number" step="0.01" min="0" class="input-small text-right" data-bind="value: printJobForEditing().usedWeight" />
                                            <span class="add-on">g</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Filament Cost</label>
                                    <div class="controls">
                                        <div class="input-append">
                                            <input type="number" step="0.01" min="0" class="input-small text-right" data-bind="value: printJobForEditing().usedCost"/>
                                            <span class="add-on" data-bind="text: printJobForEditing().spoolCostUnit"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="" style="margin-left:40px">
                                    <div class="">
                                        <div class="note-quill-editor-container">
                                            <div id="note-quill-editor"></div>
                                        </div>
                                    </div>
                                </div>
                        </div>

                        <div class="span6">
                            <div class="">

                                <div class="row-fluid text-center">
                                    <span class="span5 text-left">
                                        <span data-bind="visible: !printJobEditDialog.webCamEnabled()">WebCam not enabled!</span>
                                        <button id="printJobHistory-captureButton" data-bind="visible: printJobEditDialog.webCamEnabled, click: printJobEditDialog.captureImage" class="btn btn-success">
                                            <i class="fa fa-spinner fa-spin" id="printJobHistory-captureInProgress" style="display: none;"></i>
                                            <i class="fa fa-camera"></i>
                                            <span id="printJobHistory-captureButtonText">Capture</span></button>
<!-- DEBUGGING OUTPUT  <span data-bind="text: printJobEditDialog.imageDisplayMode"></span>-->
                                            <button id="printJobHistory-cancelCaptureButton"
                                                    data-bind="click: printJobEditDialog.cancelCaptureImage,
                                                                visible: printJobEditDialog.imageDisplayMode()=='videoStream'
                                                                        || printJobEditDialog.imageDisplayMode()=='videoStreamLoading'
                                                                        || printJobEditDialog.imageDisplayMode()=='videoStreamError'
                                                                        || printJobEditDialog.imageDisplayMode()=='videoStreamWithShutter'"
                                                    class="btn">Cancel</button>
                                    </span>
                                    <span class="span6 text-right">
                                        <button type="button" class="btn btn-danger" data-bind="click: printJobEditDialog.deleteImage" ><i class="fa fa-trash"></i>Delete Image</button>
                                    </span>
                                </div>


                                <div class="row">
                                    <div class="span6 text-center" style="z-index:10000;">
<!--                                        <img  id="printJobHistory-snapshotImage" class="img-polaroid" src="https://picsum.photos/id/20/400/400" alt=""/>-->
<!--                                        <img   src="http://localhost:5000/plugin/PrintJobHistory/static/images/no-image-icon.png" alt=""/> -->
<!--                                        <img src="http://192.168.178.44:8080/video" alt=""/> -->
<!--                                        <img data-bind="attr: {src: $root.snapshotUrl( snapshotFilename )}" >-->
<!--                                        <img id="printJobHistory-snapshotImage" class="img-polaroid" data-bind="attr: {src: printJobEditDialog.printJobImageFilenameUrl}" >-->

                                        <div id="snapShotImageContainer" data-bind="visible: printJobEditDialog.imageDisplayMode()=='snapshotImage'" >
                                            <img id="printJobHistory-snapshotImage" class="img-polaroid" src="#" >

                                        </div>

                                        <div id="printjobhistory_webcam_contaier" data-bind="visible: printJobEditDialog.imageDisplayMode()!='snapshotImage'">
                                            <!--  START WEBCAM LOADER   -->
                                            <!--
                                            data-bind="visible: !webcamLoaded()"
                                            -->
                                            <div class="printjobhistory nowebcam" >
                                                <div data-bind="visible: printJobEditDialog.imageDisplayMode()=='videoStreamLoading'" class="printjobhistory text webcam_loading" >
                                                    <p><strong>Webcam stream loading...</strong></p>
                                                </div>
                                                <div data-bind="visible: printJobEditDialog.imageDisplayMode()=='videoStreamError'" class="text webcam_error" >
                                                    <p><strong>Webcam stream not loaded</strong></p>
                                    <!--                <p data-bind="visible: !loginState.isAdmin()"><small>{{ _('It might not be configured correctly or require authentication. To have this fixed, get in touch with an administrator of this OctoPrint instance.') }}</small></p>-->
                                    <!--                <p data-bind="visible: loginState.isAdmin"><small>{{ _('It might not be configured correctly or require authentication. You can change the URL of the stream under "Settings" > "Webcam & Timelapse" > "Webcam" > "Stream URL". If you don\'t have a webcam you can also just disable webcam support there.') }}</small></p>-->
                                                    <p><small>Currently configured stream UR: <a target="_blank" rel="noreferrer" data-bind="attr: {href: printJobEditDialog.webCamSettings.streamUrl}, text: printJobEditDialog.webCamSettings.streamUrl"></a></small></p>
                                                </div>
                                            </div>
                                            <!--  END WEBCAM LOADER   -->


                                            <div id="webcam_rotator" data-bind="visible: printJobEditDialog.imageDisplayMode()!='videoStreamLoading' && printJobEditDialog.imageDisplayMode()!='videoStreamError', css: { webcam_rotated: printJobEditDialog.webCamSettings.rotate90(), webcam_unrotated: !printJobEditDialog.webCamSettings.rotate90() }">
                                                <div class="webcam_fixed_ratio" data-bind="css: printJobEditDialog.webcamRatioClass">
                                                    <div class="webcam_fixed_ratio_inner">
                                                    <!--
                                                    event: { load: onWebcamLoaded, error: onWebcamErrored }, visible: !webcamError()
                                                    -->
                                                    <img id="printJobHistory-videoStream" data-bind="css: { flipH: printJobEditDialog.webCamSettings.flipH(), flipV: printJobEditDialog.webCamSettings.flipV() }"  >
                                                    <img id="printJobHistory-snapshotImage-shutter"
                                                         data-bind="visible: printJobEditDialog.imageDisplayMode()=='videoStreamWithShutter'"
                                                         style="position:absolute;top:0px;left:0px"
                                                         src="plugin/PrintJobHistory/static/images/camera-shutter-animated.svg" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="span6 text-center">
                                        <span class="input-prepend">
                                            <span class="btn fileinput-button">
                                                <span>Browse Image:</span>
                                                <input id="printJobHistory-snapshotUploadButton" type="file" name="file" accept=".jpg">
                                            </span>
                                            <span class="add-on" data-bind="text: printJobEditDialog.snapshotUploadName"></span><button data-bind="enable: !printJobEditDialog.snapshotUploadInProgress(), click: printJobEditDialog.performSnapshotUpload" class="btn btn-primary"><i class="fa fa-spinner fa-spin" data-bind="visible: printJobEditDialog.snapshotUploadInProgress" style="display: none;"></i>Upload</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="span6 text-center">
                                        <span id="printJobHistory-editdialog-success-message" class="hide text-success" >Image is saved</span>
                                        <span id="printJobHistory-editdialog-error-message" class="hide text-error">Image is saved</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <div class="control-group">
                <div class="controls row-fluid">
                    <span class="span6" style="text-align:left">
                        <button type="button" class="btn btn-danger" data-bind="click: printJobEditDialog.deletePrintJobItem" >Delete Print Job</button>
                    </span>
                    <span class="span6 text-right">
                        <button class="btn " data-bind="click: printJobEditDialog.abortPrintJobItem" style="text-align:right">Close</button>
                        <button class="btn btn-primary" data-bind="click: printJobEditDialog.savePrintJobItem" style="text-align:right">Save</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</span>
