<!-- Modal-Dialogs -->
<span id="modal-dialogs-printJobHistory" style="display:none" >

    <!-- PluginDependencyCheck-Dialog -->
    <div id="dialog_printJobHistory_missingPlugins" class="modal hide fade">
        <div class="modal-header">
            <h3 class="modal-title">Optional plugins</h3>
        </div>
        <div class="modal-body">
            To get the real power of the <b>Print Job History - Plugin</b> you need the following plugins installed/enabled:

            <div><br></div>
            <div id="missingPluginMessage">&nbsp;</div>

        </div>
        <div class="modal-footer">

            <div class="control-group">
                <div class="controls">
                    <span class="" style="text-align:left">
                        <input data-bind="checked: pluginCheckDialog.deactivatePluginCheck" type="checkbox" style="margin-bottom: 10px;"> disable optional plugin check
                    </span>
                    <button class="btn btn-confirm" style="text-align:right">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CSV Import Status-Dialog -->
    <div id="dialog_printJobHistory_csvImportStatus" class="modal hide fade">
        <div class="modal-header">
            <h3 class="modal-title">CSV Import-Status <i class="fa fa-spinner fa-spin" data-bind="visible: csvImportDialog.importInProgress"></i></h3>
        </div>
        <div class="modal-body">
            <div>Status: <b data-bind="text: csvImportDialog.importStatus"></b></div>
            <div data-bind="visible:csvImportDialog.currentLineNumber">Parsing/Importing line: <b data-bind="text: csvImportDialog.currentLineNumber"></b></div>
            <br/>
            <div data-bind="visible:csvImportDialog.successMessages"><b data-bind="html: csvImportDialog.successMessages"></b></div>
            <br/>
            <div data-bind="visible:csvImportDialog.errorMessages"><b style="color:red" data-bind="html: csvImportDialog.errorMessages"></b></div>
            <br/>
            <div data-bind="visible:csvImportDialog.backupFilePath">Backup Database: <b data-bind="html: csvImportDialog.backupFilePath"></b></div>
            <br/>
            <div data-bind="visible:csvImportDialog.backupSnapshotFilePath">Backup Snapshots: <b data-bind="html: csvImportDialog.backupSnapshotFilePath"></b></div>
        </div>
        <div class="modal-footer">
            <div class="control-group">
                <div class="controls">
                    <button class="btn "  data-bind="disable: csvImportDialog.importInProgress, click: csvImportDialog.closeDialog" style="text-align:right">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- PrintJobItem-Dialog -->
    <div id="dialog_printJobHistory_editPrintJobItem" class="modal hide fade large" >
        <!--
            Edit - Header
        -->
        <div class="modal-header">
            <div class="row">
                <div class="span9">

                    <h4 class="modal-title">&nbsp;
                        <a href='' data-bind="click: function(){printJobEditDialog.toggleFullEditMode()}"><i class="icon-pencil"></i></a>
                        <span data-bind="visible: printJobEditDialog.fullEditMode()==false">
                            <span data-bind="text: printJobForEditing().fileName"></span>&nbsp;&nbsp;(<span data-bind="text:printJobForEditing().fileSize" ></span>)
                        </span>
                        <span data-bind="visible: printJobEditDialog.fullEditMode()==true">
                            <input type="text" class="input-xxlarge" data-bind="value: printJobForEditing().fileName" />
<!--                            <input type="text" class="input-small text-right" data-bind="value: printJobForEditing().fileSize" />-->
                        </span>
                    </h4>
                </div>
                <div class="span3">
                    <!-- Customize Field visiblity -->
<!--                    <div id="configFields" class="btn-group" >-->
<!--                      <a id="openConfigFields" class="btn dropdown-toggle" onclick="machwas()" href="#">-->
<!--                        Configure Fields (TODO)-->
<!--                        <span class="caret"></span>-->
<!--                      </a>-->
<!--                      <ul id="configFieldsDropDown" class="dropdown-menu pull-right">-->
<!--                        <li>-->
<!--                              <div class="container" style="max-width: 480px;">-->
<!--                                <h3>TODO: needs to be implemented</h3>-->
<!--                                <div class="row">-->
<!--                                    <div class="span1">&nbsp;</div>-->
<!--                                    <div class="span2">-->
<!--                                        <label class="checkbox"><input type="checkbox"> Displayname</label>-->
<!--                                    </div>`-->
<!--                                    <div class="span2">-->
<!--                                        <label class="checkbox"><input type="checkbox"> Material</label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="row">-->
<!--                                    <div class="span1">&nbsp;</div>-->
<!--                                    <div class="span2">-->
<!--                                        <label class="checkbox"><input type="checkbox"> Displayname</label>-->
<!--                                    </div>-->
<!--                                    <div class="span2">-->
<!--                                        <label class="checkbox"><input type="checkbox"> Material</label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="row">-->
<!--                                    <div class="span1">&nbsp;</div>-->
<!--                                    <div class="span2">-->
<!--                                        <label class="checkbox"><input type="checkbox"> Displayname</label>-->
<!--                                    </div>-->
<!--                                    <div class="span2">-->
<!--                                        <label class="checkbox"><input type="checkbox"> Material</label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                      </ul>-->
<!--                    </div>-->
                </div>
            </div>
            <!--
            VIEW Header
            -->
            <div class="row" data-bind="visible: printJobEditDialog.fullEditMode()==false">
                <div class="span1" >
                    <div class="span1"><span class="icon-4x" style="cursor: pointer;" data-bind="css: {'icon-ok-sign' : printJobForEditing().printStatusResult() == 'success', 'icon-exclamation-sign' : printJobForEditing().printStatusResult() != 'success'},
                                                                        style: { color: printJobForEditing().printStatusResult() == 'success' ? 'green' : 'red'},
                                                                         click: printJobEditDialog.showPrintStatusDialog"></span></div>
                </div>
                <div class="span6" >
                    <div class="row">
                        <div class="span12">
                            <div class="row">
                                <div class="span4"><b>Start</b> <span data-bind="text: printJobForEditing().printStartDateTimeFormatted" /></div>
                                <div class="span3"><b>Height</b> <span data-bind="text: printJobForEditing().printedHeight"></span>mm</div>
                                <div class="span2"><b>Nozzle</b> <span data-bind="text: printJobForEditing().temperatureNozzle" ></span>°C</div>
                                <div class="span3"></div>
                            </div>
                            <div class="row">
                                <div class="span4"><b>End</b> <span data-bind="text: printJobForEditing().printEndDateTimeFormatted" /></div>
                                <div class="span3"><b>Layer</b> <span data-bind="text: printJobForEditing().printedLayers" ></span></div>
                                <div class="span2"><b>Bed</b> <span data-bind="text: printJobForEditing().temperatureBed" ></span>°C</div>
                                <div class="span3"></div>
                            </div>
                            <div class="row">
                                <div class="span4"><b>Duration</b> <span data-bind="text: printJobForEditing().durationFormatted" /></div>
                                <div class="span3"></div>
                                <div class="span2"></div>
                                <div class="span3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            EDIT Header
            -->
            <div class="row" data-bind="visible: printJobEditDialog.fullEditMode()==true">
                <div class="span1" >
                    <div class="span1"><span class="icon-4x" style="cursor: pointer;" data-bind="css: {'icon-ok-sign' : printJobForEditing().printStatusResult() == 'success', 'icon-exclamation-sign' : printJobForEditing().printStatusResult() != 'success'},
                                                                        style: { color: printJobForEditing().printStatusResult() == 'success' ? 'green' : 'red'},
                                                                         click: printJobEditDialog.showPrintStatusDialog"></span></div>
                </div>
                <div class="span6" >
                    <div class="row">
                        <div class="span12">
                            <div class="row">
<!--                                <div class="span4">Start <input type="text" class="input-medium" data-bind="value: printJobForEditing().printStartDateTimeFormatted" /> </div>-->
                                <div class="span4">
                                    Start
                                    <span class="input-append datetime">
                                        <input id="printStartDateTime-picker" type="text" data-bind="value:printJobForEditing().printStartDateTimeFormatted" class="input-medium text-right"><span class="add-on"><i class="icon-th"></i></span>
                                    </span>
                                </div>
                                <div class="span3">
                                    Height
                                    <span class="input-append">
                                        <input type="text" class="input-small" data-bind="value: printJobForEditing().printedHeight" /><span class="add-on">mm</span>
                                    </span>
                                </div>
                                <div class="span3">
                                    Nozzle
                                    <span class="input-append">
                                        <input type="number" step="0.1" min="0.0" class="input-mini" data-bind="value: printJobForEditing().temperatureNozzle" /><span class="add-on">°C</span>
                                    </span>
                                </div>
                                <div class="span2"></div>
                            </div>
                            <div class="row">
<!--                                <div class="span4">End <input type="text" class="input-medium" data-bind="value: printJobForEditing().printEndDateTimeFormatted" /></div>-->
                                <div class="span4">End
                                    <span class="input-append datetime">
                                            <input id="printEndDateTime-picker" type="text" data-bind="value:printJobForEditing().printEndDateTimeFormatted" class="input-medium text-right"><span class="add-on"><i class="icon-th"></i></span>
                                    </span>
                                </div>
                                <div class="span3">
                                    Layer
                                    <input type="text" class="input-mini" data-bind="value: printJobForEditing().printedLayers" />
                                </div>
                                <div class="span3">
                                    Bed
                                    <span class="input-append">
                                        <input type="number" step="0.1" min="0.0" class="input-mini" data-bind="value: printJobForEditing().temperatureBed" /><span class="add-on">°C</span>
                                    </span>
                                </div>
                                <div class="span2"></div>
                            </div>
                            <div class="row">
                                <div class="span4">
                                    Duration
                                    <span class="input-append">
                                        <input type="number" min="0" step="1" class="input-mini" data-bind="value: printJobForEditing().duration" /><span class="add-on">s</span>
                                    </span>
                                </div>
                                <div class="span3"></div>
                                <div class="span3"></div>
                                <div class="span2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
            Edit - Body
        -->
        <div class="modal-body" >
            <form id="form_printJobHistory_editPrintJobItem" class="form-horizontal" >
                <div class="row">
                    <div class="row">
                        <!--
                            LEFT - SIDE
                        -->
                        <div class="span6" style="">

                            <!-- Total / Details - TABs -->
                            <div class="tabbable" style="margin-left:40px"> <!-- Only required for left/right tabs -->

                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab-pjh-editjob-total" data-toggle="tab">General</a></li>
                                    <li data-bind="visible: printJobForEditing().isMultiToolPrint"><a href="#tab-pjh-editjob-details" data-toggle="tab">Tool measurement</a></li>
                                </ul>
                                <div class="tab-content">
                                    <!-- General - TAB -->
                                    <div class="tab-pane active" id="tab-pjh-editjob-total">

                                        <div class="control-group">
                                            <label class="control-label">Spool *</label>
                                            <div class="controls">
                                                <input type="text" class="input-large" data-bind="value: printJobForEditing().spoolName" />
                                            </div>
                                        </div>
                                        <div class="control-group no-bottom-gap">
                                            <label class="control-label">Spool Vendor*</label>
                                            <div class="controls">
                                                <input type="text" class="input-large" data-bind="value: printJobForEditing().vendor" />
                                            </div>
                                        </div>
                                        <div class="control-group no-bottom-gap">
                                            <label class="control-label">Material *</label>
                                            <div class="controls">
                                                <input type="text" class="input-large" data-bind="value: printJobForEditing().material" />
                                            </div>
                                        </div>
                                        <div class="" style="margin-left:80px">
                                            <small><font color="Gray"> * spool values will not be reflected to FilamentManager-Plugin</font></small>
                                        </div>
                                        <div class="control-group no-bottom-gap">
                                            <label class="control-label">Used length</label>
                                            <div class="controls">
                                                <div class="input-append">
                                                    <input type="number" step="0.01" min="0" class="input-small text-right" data-bind="value: printJobForEditing().usedLengthFormatted"/>
                                                    <span class="add-on">m</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group ">
                                            <label class="control-label">Calculated length</label>
                                            <div class="controls">
                                                <div class="input-append">
                                                    <input type="number" step="0.01" min="0" class="input-small text-right" data-bind="value: printJobForEditing().calculatedLengthFormatted"/>
                                                    <span class="add-on">m</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Used Weight</label>
                                            <div class="controls">
                                                <div class="input-append">
                                                    <input type="number" step="0.01" min="0" class="input-small text-right" data-bind="value: printJobForEditing().usedWeight" />
                                                    <span class="add-on">g</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Filament Cost</label>
                                            <div class="controls">
                                                <div class="input-append">
                                                    <input type="number" step="0.01" min="0" class="input-small text-right" data-bind="value: printJobForEditing().usedCost"/>
                                                    <span class="add-on" data-bind="text: printJobForEditing().spoolCostUnit"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- Details - TAB -->
                                    <div class="tab-pane" id="tab-pjh-editjob-details">
                                        <table id="" class="table table-striped table-hover table-condensed table-hover" style="clear: both;">
                                            <thead>
                                                <tr>
                                                    <th style="width: 15%" >Tool</th>
                                                    <th style="width: 15%" >Spool</th>
                                                    <th style="width: 15%" >Material</th>
                                                    <th style="width: 15%" >Used [m]</th>
                                                    <th style="width: 15%" >Calculated [m]</th>
                                                    <th style="width: 15%" >Used weight [g]</th>
                                                    <th style="width: 10%" >Cost [E]</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach:printJobForEditing().allToolKeys">
                                                <tr data-bind="style: { 'font-weight':  $index() == ($root.printJobForEditing().allToolKeys.length - 1) ? 'bold' : 'normal' }">
                                                    <td data-bind="text:$root.printJobForEditing().allFilamentModels[$data].toolId">Toolo0</td>
                                                    <td data-bind="text: $index() == ($root.printJobForEditing().allToolKeys.length - 1) ? ' ' : $root.printJobForEditing().allFilamentModels[$data].spoolName">My Best</td>
                                                    <td data-bind="text: $index() == ($root.printJobForEditing().allToolKeys.length - 1) ? ' ' : $root.printJobForEditing().allFilamentModels[$data].material">PLA</td>
                                                    <td data-bind="text:$root.printJobForEditing().allFilamentModels[$data].usedLengthFormatted">123.4</td>
                                                    <td data-bind="text:$root.printJobForEditing().allFilamentModels[$data].calculatedLengthFormatted">4321.1</td>
                                                    <td data-bind="text:$root.printJobForEditing().allFilamentModels[$data].usedWeight">3423.2</td>
                                                    <td data-bind="text:$root.printJobForEditing().allFilamentModels[$data].usedCost">12</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                            <!-- Notes -->
                            <div class="" style="margin-left:40px">
                                <div class="">
                                    <div class="note-quill-editor-container">
                                        <div id="note-quill-editor"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="" style="margin-left:40px">
                                <a href='' data-bind="visible:printJobEditDialog.isSlicerSettingsPresent, click: printJobEditDialog.showSlicerSettingsDialog" style="text-align:right">Show Slicer Settings</a>
                            </div>

                        </div>
                        <!--
                            LEFT - SIDE
                                WEB CAM - STUFF
                        -->
                        <div class="span6">
                            <div class="">

                                <div class="row-fluid text-center">
                                    <span class="span5 text-left">
                                        <span data-bind="visible: !printJobEditDialog.webCamEnabled()">WebCam not enabled!</span>
                                        <button id="printJobHistory-captureButton" data-bind="visible: printJobEditDialog.webCamEnabled, click: printJobEditDialog.captureImage" class="btn btn-success">
                                            <i class="fa fa-spinner fa-spin" id="printJobHistory-captureInProgress" style="display: none;"></i>
                                            <i class="fa fa-camera"></i>
                                            <span id="printJobHistory-captureButtonText">Capture</span></button>
<!-- DEBUGGING OUTPUT  <span data-bind="text: printJobEditDialog.imageDisplayMode"></span>-->
                                            <button id="printJobHistory-cancelCaptureButton"
                                                    data-bind="click: printJobEditDialog.cancelCaptureImage,
                                                                visible: printJobEditDialog.imageDisplayMode()=='videoStream'
                                                                        || printJobEditDialog.imageDisplayMode()=='videoStreamLoading'
                                                                        || printJobEditDialog.imageDisplayMode()=='videoStreamError'
                                                                        || printJobEditDialog.imageDisplayMode()=='videoStreamWithShutter'"
                                                    class="btn">Cancel</button>
                                    </span>
                                    <span class="span6 text-right">
                                        <button type="button" class="btn btn-danger" data-bind="click: printJobEditDialog.deleteImage" ><i class="fa fa-trash"></i>Delete Image</button>
                                    </span>
                                </div>


                                <div class="row">
                                    <div class="span6 text-center" style="z-index:10000;">
<!--                                        <img  id="printJobHistory-snapshotImage" class="img-polaroid" src="https://picsum.photos/id/20/400/400" alt=""/>-->
<!--                                        <img   src="http://localhost:5000/plugin/PrintJobHistory/static/images/no-image-icon.png" alt=""/> -->
<!--                                        <img src="http://192.168.178.44:8080/video" alt=""/> -->
<!--                                        <img data-bind="attr: {src: $root.snapshotUrl( snapshotFilename )}" >-->
<!--                                        <img id="printJobHistory-snapshotImage" class="img-polaroid" data-bind="attr: {src: printJobEditDialog.printJobImageFilenameUrl}" >-->

                                        <div id="snapShotImageContainer" data-bind="visible: printJobEditDialog.imageDisplayMode()=='snapshotImage'" >
                                            <img id="printJobHistory-snapshotImage" class="img-polaroid" src="#" >

                                        </div>

                                        <div id="printjobhistory_webcam_contaier" data-bind="visible: printJobEditDialog.imageDisplayMode()!='snapshotImage'">
                                            <!--  START WEBCAM LOADER   -->
                                            <!--
                                            data-bind="visible: !webcamLoaded()"
                                            -->
                                            <div class="printjobhistory nowebcam" >
                                                <div data-bind="visible: printJobEditDialog.imageDisplayMode()=='videoStreamLoading'" class="printjobhistory text webcam_loading" >
                                                    <p><strong>Webcam stream loading...</strong></p>
                                                </div>
                                                <div data-bind="visible: printJobEditDialog.imageDisplayMode()=='videoStreamError'" class="text webcam_error" >
                                                    <p><strong>Webcam stream not loaded</strong></p>
                                    <!--                <p data-bind="visible: !loginState.isAdmin()"><small>{{ _('It might not be configured correctly or require authentication. To have this fixed, get in touch with an administrator of this OctoPrint instance.') }}</small></p>-->
                                    <!--                <p data-bind="visible: loginState.isAdmin"><small>{{ _('It might not be configured correctly or require authentication. You can change the URL of the stream under "Settings" > "Webcam & Timelapse" > "Webcam" > "Stream URL". If you don\'t have a webcam you can also just disable webcam support there.') }}</small></p>-->
                                                    <p><small>Currently configured stream URL: <a target="_blank" rel="noreferrer" data-bind="attr: {href: printJobEditDialog.webCamSettings.streamUrl}, text: printJobEditDialog.webCamSettings.streamUrl"></a></small></p>
                                                </div>
                                            </div>
                                            <!--  END WEBCAM LOADER   -->


                                            <div id="webcam_rotator" data-bind="visible: printJobEditDialog.imageDisplayMode()!='videoStreamLoading' && printJobEditDialog.imageDisplayMode()!='videoStreamError', css: { webcam_rotated: printJobEditDialog.webCamSettings.rotate90(), webcam_unrotated: !printJobEditDialog.webCamSettings.rotate90() }">
                                                <div class="webcam_fixed_ratio" data-bind="css: printJobEditDialog.webcamRatioClass">
                                                    <div class="webcam_fixed_ratio_inner">
                                                    <!--
                                                    event: { load: onWebcamLoaded, error: onWebcamErrored }, visible: !webcamError()
                                                    -->
                                                    <img id="printJobHistory-videoStream" data-bind="css: { flipH: printJobEditDialog.webCamSettings.flipH(), flipV: printJobEditDialog.webCamSettings.flipV() }"  >
                                                    <img id="printJobHistory-snapshotImage-shutter"
                                                         data-bind="visible: printJobEditDialog.imageDisplayMode()=='videoStreamWithShutter'"
                                                         style="position:absolute;top:0px;left:0px"
                                                         src="plugin/PrintJobHistory/static/images/camera-shutter-animated.svg" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="span6 text-center">
                                        <span class="input-prepend">
                                            <span class="btn fileinput-button">
                                                <span>Browse Image:</span>
                                                <input id="printJobHistory-snapshotUploadButton" type="file" name="file">
                                            </span>
                                            <span class="add-on" data-bind="text: printJobEditDialog.snapshotUploadName"></span><button data-bind="enable: !printJobEditDialog.snapshotUploadInProgress(), click: printJobEditDialog.performSnapshotUpload" class="btn btn-primary"><i class="fa fa-spinner fa-spin" data-bind="visible: printJobEditDialog.snapshotUploadInProgress" style="display: none;"></i>Upload</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="span6 text-center">
                                        <span id="printJobHistory-editdialog-success-message" class="hide text-success" >Image is saved</span>
                                        <span id="printJobHistory-editdialog-error-message" class="hide text-error">Image is saved</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--
            Edit - Footer
        -->
        <div class="modal-footer">
            <div class="control-group">
                <div class="controls row-fluid">
                    <span class="span6" style="text-align:left">
                        <button type="button" class="btn btn-danger" data-bind="click: printJobEditDialog.deletePrintJobItem" >Delete Print Job</button>
                    </span>
                    <span class="span6 text-right">
                        <button class="btn " data-bind="click: printJobEditDialog.abortPrintJobItem" style="text-align:right">Close</button>
                        <button class="btn btn-primary" data-bind="click: printJobEditDialog.savePrintJobItem" style="text-align:right">Save</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- SlicerSettings View - Dialog -->
    <div id="dialog_printJobHistory_slicerSettings" class="modal hide fade">
        <div class="modal-header">
            <h3 class="modal-title">Slicer-Settings for that print job </h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <span class="" > <textarea readonly style="margin-left:14px;" type="text" class="input-xxlarge" rows="30" data-bind="readonly: true, textInput: printJobForEditing().slicerSettingsAsText">Halleie weoihf oeif owieefj oijwef ioj wefoij wefij oijwefioj owjf oij wefoij </textarea> </span>
            </div>
        </div>
        <div class="modal-footer">
            <div class="control-group">
                <div class="controls">
                    <button class="btn "  data-bind="click: printJobEditDialog.closeSlicerSettingsDialog" style="text-align:right">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ChangePrintStatus View - Dialog -->
    <div id="dialog_printJobHistory_changePrintStatus" class="modal hide fade">
        <div class="modal-header">
            <h3 class="modal-title">Change print result status</h3>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="offset4 span6 centering">
                        <span data-bind="click: function() { printJobEditDialog.selectedPrintStatus('green'); }"
                              class="icon-5x icon-ok-sign"
                              style="color: green; cursor: pointer;">
                        </span>
                        <span data-bind="click: function() { printJobEditDialog.selectedPrintStatus('red'); }"
                              class="icon-5x icon-exclamation-sign"
                              style="color: red; cursor: pointer;">
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="control-group">
                <div class="controls">
                    <button class="btn "  data-bind="click: printJobEditDialog.closePrintStatusDialog" style="text-align:right">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Statistic Dialog -->
    <div id="dialog_printJobHistory_statistic" class="modal hide fade">
        <div class="modal-header">
            <div class="modal-title"><h3>Print job statistic</h3><h4 data-bind="text:statisticDialog.query"></h4></div>
        </div>
        <div class="modal-body">

            <div class="container-fluid">
                <div class="row-fluid">

                    <div class="row">
                        <div class="span3">
                            <div><b>Print job count</b></div>
                        </div>
                        <div class="span9">
                            <span class="text-right" data-bind="text: statisticDialog.printJobCount">1h23m12s</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span3">
                            <div><b>First/Last</b></div>
                        </div>
                        <div class="span9">
                            <span class="text-right" data-bind="text: statisticDialog.fromToDate">1h23m12s</span>
<!--                            <input disabled class="input-xlarge text-right" type="text" value="1h23m12s">-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="span3">
                            <div><b>Duration</b></div>
                        </div>
                        <div class="span9">
                            <span class="text-right" data-bind="text: statisticDialog.duration">1h23m12s</span>
<!--                            <input disabled class="input-xlarge text-right" type="text" value="1h23m12s">-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="span3">
                            <div ><b>Used Length</b></div>
                        </div>
                        <div class="span9">
                            <span class="text-right" data-bind="text: statisticDialog.usedLenght">1234.21mm</span>
<!--                            <div class="input-append" style="margin-bottom:10px">-->
<!--                                <input disabled type="number" min="1" class="input-xlarge text-right" value="1234.21">-->
<!--                                <span class="add-on">mm</span>-->
<!--                            </div>-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="span3">
                            <div><b>Used Weight</b></div>
                        </div>
                        <div class="span9">
                            <span class="text-right" data-bind="text: statisticDialog.usedWeight">321.21g</span>
<!--                            <div class="input-append" style="margin-bottom:10px">-->
<!--                                <input disabled type="number" min="1" class="input-xlarge text-right" value="321.21">-->
<!--                                <span class="add-on">g</span>-->
<!--                            </div>-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="span3">
                            <div ><b>File Size</b></div>
                        </div>
                        <div class="span9">
                            <span class="text-right" data-bind="text: statisticDialog.fileSize">321KB</span>
<!--                            <div class="input-append" style="margin-bottom:10px">-->
<!--                                <input disabled type="number" min="1" class="input-xlarge text-right" value="325">-->
<!--                                <span class="add-on">kByte</span>-->
<!--                            </div>-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="span3">
                            <div ><b>Print results</b></div>
                        </div>
                        <div class="span9">
                            <span class="text-right" data-bind="text: statisticDialog.printResults">success (10), canceled (5), failed (1)</span>
<!--                            <input disabled class="input-xlarge text-right" type="text" value="canceled (5), success (10), failed (1)">-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="span3">
                            <div ><b>Materials</b></div>
                        </div>
                        <div class="span9">
                            <span class="text-right" data-bind="text: statisticDialog.materials">ABS, PETG, PLA</span>
<!--                            <input disabled class="input-xlarge text-right" type="text" value="ABS, PETG, PLA">-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="span3">
                            <div ><b>Spools</b></div>
                        </div>
                        <div class="span9">
                            <span class="text-right" data-bind="text: statisticDialog.spools">Number 2, Bad Spool</span>
<!--                            <input disabled class="input-xlarge text-right" type="text" value="Number 2, Bad Spool">-->
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="modal-footer">
            <div class="control-group">
                <div class="controls">
                    <button class="btn "  data-bind="click: statisticDialog.closeDialog" style="text-align:right">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- SlicerSettingsCompare Dialog -->
    <div id="dialog_printJobHistory_compareSlicerSettings" class="modal hide fade">
        <div class="modal-header">
            <div class="modal-title"><h3>Compare SlicerSettings</h3></div>
        </div>
        <div class="modal-body">

            <div class="container-fluid">
                <div class="row-fluid">
<!--
                    <div class="row">
                        <div class="span3">
                            <div><b>Print job count</b></div>
                        </div>
                        <div class="span9">
                        </div>
                    </div>
-->

                    <div class="row">
                        <div class="span12">

<!--                            <table data-bind='visible: compareSlicerSettingsDialog.compareResultTableItems().length > 0'>-->
                            <table class="table table-striped table-hover table-condensed table-hover">
                                <thead>
                                    <tr data-bind='foreach: compareSlicerSettingsDialog.compareResultTableHeaders'>
                                        <th style="position: sticky;background: white;top: -20px;"><span data-bind="text: fileName"></span></th>
                                    </tr>
                                </thead>
                                <tbody data-bind='foreach: compareSlicerSettingsDialog.compareResultTableItems'>
                                    <tr data-bind="foreach: row">

                                        <td data-bind="visible: $index()==0"><b><span data-bind="text: value, style: { color: $root.compareSlicerSettingsDialog.getDiffColor($data) }"></span></b></td>
                                        <td data-bind="visible: $index()!=0"><span data-bind="text: value, style: { color: $root.compareSlicerSettingsDialog.getDiffColor($data) }"></span></td>
<!--                                        <td data-bind="ifnot: $index==0"><span data-bind="text: value, style: { color: $root.compareSlicerSettingsDialog.getDiffColor($data) }"></span></td>-->
<!--                                        <td><input class='required' data-bind='value: name, uniqueName: true' /></td>-->
<!--                                        <td><input class='required number' data-bind='value: price, uniqueName: true' /></td>-->
<!--                                        <td><a href='#' data-bind='click: $root.removeGift'>Delete</a></td>-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="control-group">
                <div class="controls">
                    <button class="btn "  data-bind="click: compareSlicerSettingsDialog.closeDialog" style="text-align:right">Close</button>
                </div>
            </div>
        </div>
    </div>


</span>
