<form id="printJobHistory_plugin_settings" class="form-horizontal" >


    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-pjh-General" data-toggle="tab">General</a></li>
            <li><a href="#tab-pjh-Visibility" data-toggle="tab">Visibility</a></li>
            <li><a href="#tab-pjh-Filament" data-toggle="tab">Filament</a></li>
            <li><a href="#tab-pjh-Camera" data-toggle="tab">Camera</a></li>
            <li><a href="#tab-pjh-Database" data-toggle="tab">Database</a></li>
            <li><a href="#tab-pjh-Debugging" data-toggle="tab">Debugging</a></li>

        </ul>
        <div class="tab-content">
            <!-- GENERAL - TAB -->
            <div class="tab-pane active" id="tab-pjh-General">
                TODO some general-settings
            </div>
            <!-- GENERAL - TAB -->
            <div class="tab-pane" id="tab-pjh-Visibility">
                TODO some visibility-settings
            </div>
            <!-- GENERAL - TAB -->
            <div class="tab-pane" id="tab-pjh-Filament">
                TODO some filament-settings
            </div>
            <!-- GENERAL - TAB -->
            <div class="tab-pane" id="tab-pjh-Camera">
                TODO some camera-settings
            </div>
            <!-- GENERAL - TAB -->
            <div class="tab-pane" id="tab-pjh-Database">
                TODO some database-settings
            </div>
            <!-- GENERAL - TAB -->
            <div class="tab-pane" id="tab-pjh-Debugging">
                TODO some debugging-settings
            </div>

        </div>
    </div>


</form>
