

#tab_printJobHistory .additionalInfo {
    font-size: 85%;
    color: #999;
}

.quill-viewer > p {
    margin-bottom: 0px;
}

// Form-Controls
.control-group.no-bottom-gap {
    margin-bottom:0px
}
